@tailwind base;
@tailwind components;
@tailwind utilities;
@media (prefers-color-scheme: dark) {
    .dark\:bg-gray-900 {
        --tw-bg-opacity: 1 !important;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity)) !important;
        color: white;
        border-color: white !important;
    }
    table {
        border-color: white !important;
    }

    table, th, td {
        border: 1px solid white !important;
    }
    input {
        color: black;
    }
}

bg-white2 {
    background-color: white;
}